<!DOCTYPE html>
<html>
<head>
    <title>Add a Character | The 13th Winter Fairy</title>

    <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
    <h1>The 13th Winter Fairy Official</h1>
    <h2>| Add a Character</h2>

    <h3>WARNING: This form is to add <mark>CANON CHARACTERS who are NOT IN THE LIST</mark></h3>

    <form method="POST">
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="surname" placeholder="Surname" required>
        <input type="text" name="family" placeholder="Family" required>
        <input type="text" name="nation" placeholder="Nation" required>
        <input type="text" name="race" placeholder="Race" required>
        <input type="text" name="lineage" placeholder="Lineage" required>
        <input type="number" step="0.1" name="magicrate" placeholder="Magic Rate" required>
        <button type="submit">Add Character</button>
    </form>

    <div class="btn-group">
        <button onclick="location.href='/'">Go Back</button>
    </div>

</body>
</html>