body {
    font-family: cursive;
    font-size: 10px;
    background-color: mintcream;
    color: #001127;
}

h1 {
    text-align: center;
    font-size: 25px;
    color: #7d008b;
}

h2 {
    text-indent: 256px;
    font-size: 20px;
    color: #6d00cc;
}


.btn-group {
  display: flex;
  flex-direction: column;
  position: absolute; bottom: 0px;
}

button {
    margin-left: 256px;
    margin-right: 256px;
    margin-bottom: 10px;
    font-size: 15px;
    background-color: #35008b;
    color: white;
    border: color(#001127);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 12px;
}

button:hover {
    background-color: #6d00cc;
}