body {
    font-family: cursive;
    font-size: 10px;
    background-color: mintcream;
    color: #001127;
}

h1 {
    text-align: center;
    font-size: 25px;
    color: #7d008b;
}

h2 {
    text-indent: 256px;
    font-size: 20px;
    color: #6d00cc;
}


.btn-group {
  display: flex;
  flex-direction: column;
  position: bottom 0px;
}

button {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    font-size: 15px;
    background-color: #35008b;
    color: white;
    border: color(#001127);
    padding: 10px 20px;
    width: 300px;
    cursor: pointer;
    border-radius: 12px;
}

button:hover {
    background-color: #6d00cc;
}

table { 
    border-collapse: collapse; width: 50%; 
    margin-left: auto;
    margin-right: auto;
}

th, td {
     border: 1px solid #8687bd; padding: 8px; text-align: middle; 
}

th {
     background-color: #a970b8;
}